.about {
  padding: 8rem 0rem 2rem 0rem;

  &__description {
    width: 65%;
    display: flex;
    justify-self: center;

    @media (max-width: 991.98px) {
      width: 100%;
    }
  }

  &__info {
    margin-top: 6rem;

    @media (max-width: 575.98px) {
      margin-top: 4rem;
    }

    &__button {
      @media (max-width: 375px) {
        display: grid !important;
        gap: 1px !important;
      }
    }
  }

  &__parent {
    margin-top: 2rem !important;
  }

  &__skills {
    font-size: 14px;
    padding: 0.6rem 1.4rem;
    color: #666;
    background: rgba(153, 153, 153, 0.2);
  }

  &__icons {
    ion-icon {
      color: #ffc107;
    }
  }
}
