.about {
  padding: 8rem 0rem;
  background-color: #fafafa;

  &__info {
    margin-top: 6rem;

    @media (max-width: 575.98px) {
      margin-top: 4rem;
    }

    &__button {
      @media (max-width: 375px) {
        display: grid !important;
        gap: 1px !important;
      }
    }
  }

  &__parent {
    margin-top: 2rem !important;
  }

  &__skills {
    font-size: 14px;
    padding: 0.6rem 1.4rem;
    color: #666;
    background: rgba(153, 153, 153, 0.2);
  }
}
