.experience {
  padding: 12rem 20rem 2rem 20rem;

  @media (max-width: 1440px) {
    padding: 12rem 14rem 2rem 14rem;
  }

  @media (max-width: 1024px) {
    padding: 12rem 8rem 2rem 8rem;
  }

  @media (max-width: 768px) {
    padding: 12rem 2rem 2rem 2rem;
  }

  &__jobs {
    border-left: 1px solid #8892b0;
  }

  &__content {
    margin-left: -2.1rem;
  }

  &__circle {
    border: 2px solid #64ffda;
    background-color: #020c1b;
    width: 1.2rem;
    height: 1.1rem;
    border-radius: 50%;
  }

  &__info {
    display: flex;
    gap: 5rem;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: grid;
      row-gap: 1rem;
    }
  }
}
