footer {
  padding: 4rem 0rem;
  background-color: #000;
}

.footer {
  &__logo {
    img {
      height: 3.6rem !important;
    }
  }

  &__name {
    @media (max-width: 991.98px) {
      margin-top: 2rem;
    }
  }

  &__content {
    margin-top: 1.5rem !important;

    @media (max-width: 991.98px) {
      margin-top: 1rem !important;
    }
  }
}
