* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

html,
body {
  color: #8892b0;
}

.green {
  color: #64ffda;
}

.navy-lightest {
  color: #a8b2d1;
}

.navy-light {
  color: #ccd6f6 !important;
}

.navy-light-body {
  color: #8892b0 !important;
}

.navy-dark-light {
  color: #112240;
  background-color: #112240;
}

.navy-dark {
  color: #020c1b;
}

.box-shadow {
  box-shadow: rgb(2, 12, 27) 0px 10px 30px -15px;
}

.container {
  padding: 0rem 1.5rem !important;
}

.font-sm {
  font-size: 14px !important;
  letter-spacing: 1px;
}

.font-md {
  font-size: 18px !important;
  color: #333 !important;
  letter-spacing: 1px;

  @media (max-width: 575.98px) {
    font-size: 15px !important;
  }
}

.font-secondary-title {
  font-size: 18px;
  color: #555;
  letter-spacing: 1px;

  @media (max-width: 575.98px) {
    font-size: 15px;
    letter-spacing: 0px;
  }
}

.font-secondary-paragraph {
  font-size: 16px;
  color: #555;

  @media (max-width: 575.98px) {
    font-size: 15px;
  }
}

#title {
  font-weight: 900 !important;
}

.main__bg {
  background-color: #023e8a;
}

p {
  margin-bottom: 0 !important;
}

@media (max-width: 1199.98px) {
  .hide_1199 {
    display: none !important;
  }
}

.effect {
  animation: effect 0.4s forwards;

  @keyframes effect {
    from {
      scale: 0.9;
    }

    to {
      scale: 1;
    }
  }
}
