.projects {
  padding: 0rem 0rem 8rem 0rem;

  &__list {
    margin-top: 6rem;

    @media (max-width: 991.98px) {
      margin-top: 2rem;
    }
  }

  &__row {
    margin-top: 6rem !important;

    @media (max-width: 991.98px) {
      row-gap: 1rem !important;
      margin-top: 4rem !important;
    }
  }

  &__column {
    padding: 0rem 3rem !important;

    @media (max-width: 991.98px) {
      padding: 0rem 0rem !important;
    }
  }

  &__title {
    @media (max-width: 991.98px) {
      text-align: center;
    }
  }

  &__description {
    @media (max-width: 991.98px) {
      text-align: center;
    }
  }

  &__button {
    margin-top: 2rem;

    @media (max-width: 991.98px) {
      display: flex;
      justify-content: center;
      margin-top: 0rem;
    }
  }

  &__others {
    margin-top: 8rem;

    @media (max-width: 991.98px) {
      margin-top: 6rem;
    }

    &__icons {
      ion-icon {
        font-size: 18px;
        color: #8892b0;
        margin-bottom: -4px;
      }
    }
  }

  .projects__others:hover {
    color: blue;
  }

  &__cards {
    height: 17rem;
    border-radius: 12px;
    background-color: #023f52;

    @media (max-width: 991.98px) {
      height: 100%;
    }
  }

  &__parent {
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #112240;
      transform: rotate(-2deg);
    }
  }

  &__content {
    border-radius: 4px;

    h4 {
      span {
        margin-bottom: -6px;

        ion-icon {
          font-size: 20px;
          transform: rotate(-40deg);
        }
      }
    }

    div {
      span {
        ion-icon {
          color: #fff;
        }
      }
    }

    p {
      font-size: 17px;
    }
  }
}

.work {
  padding: 6rem 0rem;

  @media (max-width: 575.98px) {
    height: 30rem !important;
  }

  &__box {
    width: 50rem;
    background-color: transparent;

    @media (max-width: 991.98px) {
      width: auto;
    }
  }

  &__content {
    padding-top: 9rem;

    @media (max-width: 575.98px) {
      padding-top: 6rem;
    }

    @media (max-width: 425.98px) {
      padding-top: 6rem;
    }
  }
}

// WORK JSX
.overview {
  &__parent {
    margin-top: -10rem;

    @media (max-width: 575.98px) {
      margin-top: -4rem;
    }

    @media (max-width: 425.98px) {
      margin-top: -3rem;
    }

    @media (max-width: 360px) {
      margin-top: -1rem;
    }
  }

  &__overview {
    margin-top: 4rem;
    padding: 0rem 4rem !important;
    max-width: 50rem;

    @media (max-width: 767.98px) {
      padding: 0rem 1rem !important;
    }

    @media (max-width: 425.98px) {
      padding: 0rem 0rem !important;
    }
  }

  &__button {
    display: flex !important;
    gap: 1rem;

    @media (max-width: 767.98px) {
      display: grid !important;
    }
  }
}

// ALL PROJECTS

.others {
  padding-bottom: 8rem;

  &__row {
    margin-top: -14rem;

    @media (max-width: 575.98px) {
      margin-top: -8rem;
    }
  }

  &__card {
    background: transparent;
  }
}

.projects__icons {
  font-size: 18px;
  color: #fff;
  transform: rotate(-40deg);
  margin-bottom: -8px;
}
